{
  "prefix": $PREFIX,
  "existing_resource_group_name": "Default",
  "powervs_zone": "us-south",
  "powervs_ssh_public_key": $SSH_PUB_KEY,
  "ibmcloud_api_key": $VALIDATION_APIKEY,
  "powervs_workspace_name":"pipeline-test"
}
